.container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  max-width: 1440px;
  align-items: start;
  margin: 0 auto;

  border: 2px solid rgb(182, 170, 170);
  border-radius: 5px;
}

.background {
  padding: 25px;
  background-color: #f0f6eb;
}
